mixin button(label, href, mods)
  -
    if (typeof (options) === "undefined") {
        var options = {}
    }
    var allMods = "";
    if (typeof(options) !== "undefined" && mods) {
        var modList = mods.split(",");
        for (var i = 0; i < modList.length; i++) {
            allMods = allMods + " btn_" + modList[i].trim()
        }
    }

  a.btn(class=allMods href=href)&attributes(attributes)=label