// Fonts
$materialIcons    : "Material Icons", sans-serif;
$awesome          : "Awesome", sans-serif;

// Colors
$black            : #0B132A;
$darkgray         : #4F5665;
$lightgray        : #AFB5C0;
$red              : #F53838;
$green            : #2FAB73;
