.banner-wrapper
  .banner
    .banner__title
      h1 Want anything to be easy with LaslesVPN
    .banner__text Provide a network for all your needs with ease and fun using LaslesVPN discover interesting features from us.
    +button("Get Started", "#", "big, filled")
  img(src="/assets/images/img-1.svg", alt="")