<!DOCTYPE html>
include ../pug/mixins
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Test page
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet")
    body 
      include ../includes/header/header
      .page
        include ../includes/banner/banner
        include ../includes/info-block/info-block
        include ../includes/thesis/thesis
      .page.page_bg
        h2.page__title Choose Your Plan 
        .page__text Let's choose the package that is best for you and explore it happily and cheerfully.
        include ../includes/cards/cards
      .page
        h2.page__title Huge Global Network of Fast VPN
        .page__text See LaslesVPN everywhere to make it easier for you when you move locations.
        img.page__map(src="/assets/images/map.svg", alt="")
      .page.page_bg
        h2.page__title Trusted by Thousands of Happy Customer
        .page__text These are the stories of our customers who have joined us with great pleasure when using this crazy feature.
        include ../includes/review/review
      .subscribe
        .subscribe__col
          h2.subscribe__title Subscribe Now for Get Special Features!
          span Let's subscribe with us and find the fun.
        +button("Subscribe Now", "#", "filled, big")
      .page.page_bg
        include ../includes/footer/footer
