.info-wrapper
  .info-block
    .info-block__col
      .info-block__icon face
    .info-block__col
      .info-block__text.info-block__text_bold 90+
      .info-block__text Users
  .info-block
    .info-block__col
      .info-block__icon place
    .info-block__col
      .info-block__text.info-block__text_bold 30+
      .info-block__text Locations
  .info-block
    .info-block__col
      .info-block__icon storage
    .info-block__col
      .info-block__text.info-block__text_bold 50+
      .info-block__text Servers