@import "../../scss/main.scss";

.logo-wrapper {
    display: flex;
    align-items: center;

    &__title {
        color: $black;
        font-family: "Rubik", sans-serif;

        &_thin {
            margin-left: 10px;
            font-weight: 500px;
        }

        &_bold {
            font-weight: 700;
        }
    }
}